body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('/Images/Background/background-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: transparent;
    box-shadow: none;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #fff;
}
